{% block head %}
<script type="module" src="../../../home.js"></script>
{% endblock %}

{% extends site.tplReference %}
{% import "custom/macro/helper.twig" as helper %}


{% block header %}
  <div class="header">
    <nav>
      <ul>
        <li><a href="#project">Le projet</a></li>
        <li><a href="#localisation">Localisation</a></li>
        <svg id="b-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.95 45.79">
          <g id="c">
            <path id="d" d="m44.3,33.67c1.73-3.33,2.64-7.03,2.65-10.78.01-3.83-.96-7.6-2.82-10.95.91-1.36,2.17-2.45,3.65-3.15-1.83-.37-3.74-.19-5.47.5C34.77-.89,20.4-3.03,10.22,4.5c-1.88,1.39-3.54,3.06-4.91,4.96-1.68-.7-3.51-.93-5.31-.66,1.46.8,2.71,1.94,3.65,3.32-1.73,3.33-2.64,7.03-2.65,10.78-.01,3.83.96,7.6,2.82,10.95-.91,1.36-2.17,2.45-3.65,3.15,1.83.37,3.74.19,5.48-.5,7.54,10.18,21.9,12.33,32.09,4.79,1.88-1.39,3.54-3.06,4.91-4.96,1.68.7,3.51.93,5.31.67-1.46-.8-2.71-1.94-3.65-3.32Zm-39.49-1.33c-2.88-5.92-2.88-12.83,0-18.75,1.49,2.93,2.23,6.17,2.16,9.46,0,3.22-.74,6.4-2.16,9.29ZM24.06,1.32c6.7,0,13.02,3.13,17.09,8.46-2.65,1.66-5.15,5.14-5.31,12.61h-7.8c.17-10.62,6.64-13.77,6.64-13.77,0,0-7.46-1.33-10.62,5.97-3.15-7.63-10.78-5.81-10.78-5.81,0,0,6.64,2.82,6.64,13.77h-7.8c-.17-7.3-2.66-10.78-5.48-12.44C10.78,4.66,17.21,1.41,24.06,1.32Zm0,42.97c-6.7,0-13.02-3.13-17.09-8.46,2.66-1.66,5.14-5.14,5.31-12.61h7.8c-.17,10.62-6.64,13.77-6.64,13.77,0,0,7.47,1.33,10.62-5.97,3.15,7.63,10.78,5.81,10.78,5.81,0,0-6.64-2.82-6.64-13.77h7.8c.17,7.3,2.65,10.78,5.47,12.44-4.09,5.52-10.55,8.78-17.42,8.8h0Zm17.25-21.57c-.08-3.23.67-6.43,2.16-9.29,2.88,5.92,2.88,12.83,0,18.75-1.49-2.93-2.23-6.17-2.16-9.46Z" fill="#d8684f" stroke-width="0"/>
          </g>
        </svg>
        <li><a href="#appartements">Appartements</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="header-burger">
    <nav>
      <div>
        <svg id="b-burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.95 45.79">
          <g id="c">
            <path id="d" d="m44.3,33.67c1.73-3.33,2.64-7.03,2.65-10.78.01-3.83-.96-7.6-2.82-10.95.91-1.36,2.17-2.45,3.65-3.15-1.83-.37-3.74-.19-5.47.5C34.77-.89,20.4-3.03,10.22,4.5c-1.88,1.39-3.54,3.06-4.91,4.96-1.68-.7-3.51-.93-5.31-.66,1.46.8,2.71,1.94,3.65,3.32-1.73,3.33-2.64,7.03-2.65,10.78-.01,3.83.96,7.6,2.82,10.95-.91,1.36-2.17,2.45-3.65,3.15,1.83.37,3.74.19,5.48-.5,7.54,10.18,21.9,12.33,32.09,4.79,1.88-1.39,3.54-3.06,4.91-4.96,1.68.7,3.51.93,5.31.67-1.46-.8-2.71-1.94-3.65-3.32Zm-39.49-1.33c-2.88-5.92-2.88-12.83,0-18.75,1.49,2.93,2.23,6.17,2.16,9.46,0,3.22-.74,6.4-2.16,9.29ZM24.06,1.32c6.7,0,13.02,3.13,17.09,8.46-2.65,1.66-5.15,5.14-5.31,12.61h-7.8c.17-10.62,6.64-13.77,6.64-13.77,0,0-7.46-1.33-10.62,5.97-3.15-7.63-10.78-5.81-10.78-5.81,0,0,6.64,2.82,6.64,13.77h-7.8c-.17-7.3-2.66-10.78-5.48-12.44C10.78,4.66,17.21,1.41,24.06,1.32Zm0,42.97c-6.7,0-13.02-3.13-17.09-8.46,2.66-1.66,5.14-5.14,5.31-12.61h7.8c-.17,10.62-6.64,13.77-6.64,13.77,0,0,7.47,1.33,10.62-5.97,3.15,7.63,10.78,5.81,10.78,5.81,0,0-6.64-2.82-6.64-13.77h7.8c.17,7.3,2.65,10.78,5.47,12.44-4.09,5.52-10.55,8.78-17.42,8.8h0Zm17.25-21.57c-.08-3.23.67-6.43,2.16-9.29,2.88,5.92,2.88,12.83,0,18.75-1.49-2.93-2.23-6.17-2.16-9.46Z" fill="#d8684f" stroke-width="0"/>
          </g>
        </svg>
      </div>
      <ul>
        <li><a href="#project">Le projet</a></li>
        <li><a href="#localisation">Localisation</a></li>
        <li><a href="#appartements">Appartements</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}


{% block main %}
<body>

  <div class="wrap">
    <div class="glide">
       <div class="glide__track" data-glide-el="track">
         <div class="glide__slides">
            {% for item in post.get_field("header_gallery") %}
              {{ helper.img(item, 1920, 1080, "center") }}
            {% endfor %}
         </div>
         <div class="intro">
           <h2>{{ post.get_field("header_title") }}</h2>
           <div class="glide__bullets" data-glide-el="controls[nav]">
            {% for item in post.get_field("header_gallery") %}
             <svg class="glide__bullet" data-glide-dir="={{ loop.index }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/>
             </svg>
            {% endfor %}
           </div>
         </div>
       </div>
   
       <div class="glide__arrows" data-glide-el="controls">
         <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
           <svg id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.46 15.32">
             <g id="c">
               <path id="d" d="m9.46,1.8L3.61,7.66l5.85,5.86-1.8,1.8L0,7.66,7.66,0l1.8,1.8Z" fill="#fff" stroke-width="0"/>
             </g>
           </svg>
         </button>
         <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
           <svg id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.46 15.32">
             <g id="c"><path id="d" d="m0,13.52l5.85-5.86L0,1.8,1.8,0l7.66,7.66L1.8,15.32l-1.8-1.8Z" fill="#fff" stroke-width="0"/>
             </g>
           </svg>
         </button>
       </div>
   
       <div class="scrollDown">
         <a href="#project">
           <svg id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.02 59.55">
             <g id="c"><g id="d"><g id="e">
               <g id="f">
                 <path id="g" d="m26.01,50.06c.02-.52,0-1.04-.08-1.56,0,0-.04.08-.06.11,0-.03-.02-.08-.02-.08-.15.32-.33.63-.54.92-1.27,1.67-4.73,4.91-11.91,5.08v-6.92c11.5-.13,12.69-6.5,12.62-9.49.02-.52,0-1.04-.08-1.56,0,0-.04.08-.06.11,0-.03-.02-.08-.02-.08-.15.32-.33.63-.54.92-1.27,1.67-4.73,4.92-11.91,5.08v-6.95c14.52-.2,12.53-11.01,12.53-11.01,0,0-2.85,5.8-12.46,6.05V0h-.84v30.7C2.74,30.6.17,24.64.17,24.64c0,0-2.59,10.84,12.45,11.01v6.97c-.75,0-1.41-.09-2.08-.16-3.39-.25-6.59-1.67-9.05-4.01-.53-.56-.98-1.19-1.32-1.88,0,0-.01.04-.03.13-.01-.02-.05-.1-.05-.1-.07.49-.1.99-.08,1.49-.07,2.53.8,7.49,8.1,9.02.49.11,1.03.19,1.57.26.13.02.25.04.39.06.85.1,1.7.15,2.55.16v6.96c-.75,0-1.41-.09-2.08-.16-3.39-.25-6.59-1.67-9.05-4.01-.53-.56-.98-1.19-1.32-1.88,0,0-.01.04-.03.13-.01-.02-.05-.09-.05-.09-.07.49-.1.99-.08,1.49-.07,2.54.8,7.5,8.1,9.02.49.11,1.03.19,1.58.26.13.02.25.04.39.06.79.09,1.64.14,2.56.16l.77.02c11.5-.13,12.7-6.5,12.62-9.49" fill="#d8684f" stroke-width="0"/></g></g>
                 <path id="h" d="m12.96.71v55.38" fill="none" stroke="#d8684f"/>
               </g>
             </g>
           </svg>
         </a>
       </div>
     </div>
   </div>
   
   <div class="project" id="project">
     <div class="minimalism">
       <div class="minim-text">
         <h3>{{ post.get_field('about_title') }}</h3>
         <div class="mini-exp">
           <svg class="left-arrow" id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.4 26.02">
             <g id="c">
               <g id="d">
                 <g id="e">
                   <g id="f">
                     <path id="g" d="m392.92,0c-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.91,4.73,5.08,11.91h-6.92c-.13-11.5-6.5-12.69-9.49-12.62-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.92,4.73,5.08,11.91h-6.95c-.2-14.52-11.01-12.53-11.01-12.53,0,0,5.8,2.85,6.05,12.46h-30.68v.84h30.7c-.1,9.89-6.06,12.46-6.06,12.46,0,0,10.84,2.59,11.01-12.45h6.97c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.1.05-.1.05.49.07.99.1,1.49.08,2.53.07,7.49-.8,9.02-8.1.11-.49.19-1.03.26-1.57.02-.13.04-.25.06-.39.1-.85.15-1.7.16-2.55h6.96c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.09.05-.09.05.49.07.99.1,1.49.08,2.54.07,7.5-.8,9.02-8.1.11-.49.19-1.03.26-1.58.02-.13.04-.25.06-.39.09-.79.14-1.64.16-2.56l.02-.77c-.13-11.5-6.5-12.7-9.49-12.62" fill="#d8684f" stroke-width="0"/>
                   </g>
                 </g>
                 <path id="h" d="m0,13.06h398.94" fill="none" stroke="#d8684f"/>
               </g>
             </g>
           </svg>
           <div>
            <p>{{ post.get_field('about_content') }}</p>
            <p class="bold">{{ post.get_field('about_extracontent') }}</p>
           </div>
         </div> 
       </div>
       <div class="illu-minim">
        {{ helper.img(post.get_field('about_image')) }}
         <div class="illu-title">
           <p>{{ post.get_field('about_name'  )}}</p>
         </div>
       </div>
     </div>
   
     <div class="whatInIt">
      {% for item in get_field("items", post.ID) %}
       <div class="elem">
        {{ helper.img(item.image) }}
         <div class="description">
           <h4>{{ item.title }}</h4>
           <p>{{ item.content|nl2br }}</p>
         </div>
       </div>
      {% endfor %}
     </div>
   
     <div class="light">
       <div class="illu-light">
          {{ helper.img(post.get_field('description_image')) }}
         <div class="illu-title">
           <p>{{ post.get_field('description_name') }}</p>
         </div>
       </div>
       <div class="light-text">
         <h3>{{  post.get_field('description_title') }}</h3>
         <div class="light-exp">
           <svg class="left-arrow" id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.4 26.02">
             <g id="c">
               <g id="d">
                 <g id="e">
                   <g id="f">
                     <path id="g" d="m392.92,0c-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.91,4.73,5.08,11.91h-6.92c-.13-11.5-6.5-12.69-9.49-12.62-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.92,4.73,5.08,11.91h-6.95c-.2-14.52-11.01-12.53-11.01-12.53,0,0,5.8,2.85,6.05,12.46h-30.68v.84h30.7c-.1,9.89-6.06,12.46-6.06,12.46,0,0,10.84,2.59,11.01-12.45h6.97c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.1.05-.1.05.49.07.99.1,1.49.08,2.53.07,7.49-.8,9.02-8.1.11-.49.19-1.03.26-1.57.02-.13.04-.25.06-.39.1-.85.15-1.7.16-2.55h6.96c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.09.05-.09.05.49.07.99.1,1.49.08,2.54.07,7.5-.8,9.02-8.1.11-.49.19-1.03.26-1.58.02-.13.04-.25.06-.39.09-.79.14-1.64.16-2.56l.02-.77c-.13-11.5-6.5-12.7-9.49-12.62" fill="#d8684f" stroke-width="0"/>
                   </g>
                 </g>
                 <path id="h" d="m0,13.06h398.94" fill="none" stroke="#d8684f"/>
               </g>
             </g>
           </svg>
           <div>
            <p>{{ post.get_field('description_content') }}</p>
          </div>
         </div>
     </div>
   </div>
   
   <div class="localisation" id="localisation">
     <div class="loc-explain">
       <h3>{{ post.get_field('localisation_title') }}</h3>
       <div>
        <p>{{ post.get_field('localisation_content') }}</p>
        </div>
     </div>
   
     <div class="map">
      {{ helper.img(post.get_field('localisation_map')) }}
     </div>
   
     <div class="explanation">
       <p>{{ post.get_field('localisation_details_firstpara') }}</p>
       <p>{{ post.get_field('localisation_details_secondpara') }}</p>
       <p>{{ post.get_field('localisation_details_thirdpara') }}</p>
     </div>
   </div>
   
   <div class="discover" id="appartements">
     <div class="discover-explain">
       <h3>{{ post.get_field('discover_title') }}</h3>
       <div class="discover-text">
         <svg class="left-arrow" id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.4 26.02">
           <g id="c">
             <g id="d">
               <g id="e">
                 <g id="f">
                   <path id="g" d="m392.92,0c-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.91,4.73,5.08,11.91h-6.92c-.13-11.5-6.5-12.69-9.49-12.62-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.92,4.73,5.08,11.91h-6.95c-.2-14.52-11.01-12.53-11.01-12.53,0,0,5.8,2.85,6.05,12.46h-30.68v.84h30.7c-.1,9.89-6.06,12.46-6.06,12.46,0,0,10.84,2.59,11.01-12.45h6.97c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.1.05-.1.05.49.07.99.1,1.49.08,2.53.07,7.49-.8,9.02-8.1.11-.49.19-1.03.26-1.57.02-.13.04-.25.06-.39.1-.85.15-1.7.16-2.55h6.96c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.09.05-.09.05.49.07.99.1,1.49.08,2.54.07,7.5-.8,9.02-8.1.11-.49.19-1.03.26-1.58.02-.13.04-.25.06-.39.09-.79.14-1.64.16-2.56l.02-.77c-.13-11.5-6.5-12.7-9.49-12.62" fill="#d8684f" stroke-width="0"/>
                 </g>
               </g>
               <path id="h" d="m0,13.06h398.94" fill="none" stroke="#d8684f"/>
             </g>
           </g>
         </svg>
         <div class="text">
           <p>{{ post.get_field('discover_content_firstpara') }}</p>
           <p>{{ post.get_field('discover_content_secondpara') }}</p>
         </div>
       </div>
       <div class="logo-discover">
         <svg id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 398.07 380.16">
           <g id="c">
             <path id="d" d="m367.76,279.61c14.38-27.66,21.93-58.36,22.04-89.53.09-31.81-7.97-63.1-23.42-90.91,15.15-20.66,30.3-26.17,30.3-26.17-15.23-3.06-31.02-1.63-45.45,4.13C315.36,28.66,258.64.05,198.34,0c-63.36,0-119.83,30.3-154.27,78.51C20.66,68.87,0,73,0,73c0,0,15.15,6.89,30.3,27.55-14.38,27.66-21.93,58.36-22.04,89.53-.09,31.81,7.97,63.11,23.42,90.91-15.15,20.66-30.3,26.17-30.3,26.17,15.23,3.06,31.02,1.63,45.45-4.13,35.87,48.47,92.59,77.08,152.89,77.13,63.36,0,119.83-30.3,154.27-78.51,23.42,9.64,44.08,5.51,44.08,5.51,0,0-15.15-6.89-30.3-27.55Zm-327.82-11.02c-11.73-24.51-17.85-51.33-17.91-78.51,0-27.55,6.89-53.72,17.91-77.13,9.64,17.91,17.91,44.08,17.91,78.51-1.38,34.44-8.26,59.23-17.91,77.13ZM199.72,11.02c57.85,0,108.81,27.55,141.87,70.25-22.04,13.77-42.7,42.7-44.08,104.68h-64.74c1.38-88.15,55.1-114.32,55.1-114.32,0,0-61.99-11.02-88.16,49.59-26.17-63.36-89.53-48.21-89.53-48.21,0,0,55.1,23.42,55.1,114.32h-64.74c-1.38-60.6-22.04-89.53-45.45-103.3C89.53,39.94,141.87,11.02,199.72,11.02Zm0,356.74c-57.85,0-108.81-27.55-141.87-70.25,22.04-13.77,42.7-42.7,44.08-104.68h64.74c-1.38,88.15-55.1,114.32-55.1,114.32,0,0,61.98,11.02,88.15-49.59,26.17,63.36,89.53,48.21,89.53,48.21,0,0-55.1-23.42-55.1-114.32h64.74c1.38,60.6,22.04,89.53,45.45,103.3-34.42,45.46-86.77,73.01-144.62,73.01h0Zm143.25-179.06c0-34.43,8.26-59.23,17.91-77.13,11.73,24.51,17.85,51.33,17.91,78.51,0,27.55-6.89,53.72-17.91,77.13-9.64-17.9-17.91-44.07-17.91-78.51Z" fill="#003c45" stroke-width="0"/>
           </g>
         </svg>
       </div>
     </div>
   
     <div class="wrap-discover">
       <div class="glide discover">
         <div class="glide__track" data-glide-el="track">
           <div class="glide__slides">
            {% for item in post.get_field("discover_gallery") %}
              {{ helper.img(item, 1920, 1080, "center") }}
            {% endfor %}
           </div>
         </div>
         <div class="glide__arrows" data-glide-el="controls">
           <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
             <svg id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.46 15.32">
               <g id="c">
                 <path id="d" d="m9.46,1.8L3.61,7.66l5.85,5.86-1.8,1.8L0,7.66,7.66,0l1.8,1.8Z" fill="#fff" stroke-width="0"/>
               </g>
             </svg>
           </button>
   
           <div class="glide__bullets" data-glide-el="controls[nav]">
             <svg class="glide__bullet" data-glide-dir="=0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/>
             </svg>
     
             <svg class="glide__bullet" data-glide-dir="=0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/>
             </svg>
     
             <svg class="glide__bullet" data-glide-dir="=0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/>
             </svg>
           </div>  
   
           <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
             <svg id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.46 15.32">
               <g id="c"><path id="d" d="m0,13.52l5.85-5.86L0,1.8,1.8,0l7.66,7.66L1.8,15.32l-1.8-1.8Z" fill="#fff" stroke-width="0"/>
               </g>
             </svg>
           </button>
         </div>      
       </div>
     </div>
   </div>
   
   <div class="contact" id="contact">
     <div class="contact-intro">
       <h3>{{ post.get_field('contact_title') }}</h3>
       <div class="contact-text">
         <svg class="left-arrow" id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.4 26.02">
           <g id="c">
             <g id="d">
               <g id="e">
                 <g id="f">
                   <path id="g" d="m392.92,0c-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.91,4.73,5.08,11.91h-6.92c-.13-11.5-6.5-12.69-9.49-12.62-.52-.02-1.04,0-1.56.08,0,0,.08.04.11.06-.03,0-.08.02-.08.02.32.15.63.33.92.54,1.67,1.27,4.92,4.73,5.08,11.91h-6.95c-.2-14.52-11.01-12.53-11.01-12.53,0,0,5.8,2.85,6.05,12.46h-30.68v.84h30.7c-.1,9.89-6.06,12.46-6.06,12.46,0,0,10.84,2.59,11.01-12.45h6.97c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.1.05-.1.05.49.07.99.1,1.49.08,2.53.07,7.49-.8,9.02-8.1.11-.49.19-1.03.26-1.57.02-.13.04-.25.06-.39.1-.85.15-1.7.16-2.55h6.96c0,.75-.09,1.41-.16,2.08-.25,3.39-1.67,6.59-4.01,9.05-.56.53-1.19.98-1.88,1.32,0,0,.04.01.13.03-.02.01-.09.05-.09.05.49.07.99.1,1.49.08,2.54.07,7.5-.8,9.02-8.1.11-.49.19-1.03.26-1.58.02-.13.04-.25.06-.39.09-.79.14-1.64.16-2.56l.02-.77c-.13-11.5-6.5-12.7-9.49-12.62" fill="#d8684f" stroke-width="0"/>
                 </g>
               </g>
               <path id="h" d="m0,13.06h398.94" fill="none" stroke="#d8684f"/>
             </g>
           </g>
         </svg>
         <p>{{ post.get_field('contact_content') }}</p>
     </div>
     <div class="contact-form">
      {% filter shortcodes %}
        [ninja_form id=1]
      {% endfilter %}
     </div>
   </div>

</body>

  
{% endblock %}



{% block footer %}
<footer>
  <div class="heritage-project">
    <div class="heritage-info">
      <svg id="b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 98.2">
        <g id="c">
          <g id="d">
            <g id="e">
              <g id="f">
                <g id="g">
                  <path id="h" d="m64.77,95.15c-.76.6-1.7.91-2.67.9h-12.24v-16.45h6.9c.9-.03,1.79.2,2.57.66.66.38,1.13,1.03,1.27,1.78v-5.81c-.15.73-.62,1.37-1.27,1.73-.78.46-1.67.69-2.57.66h-6.9v-16.41h11.57c.98-.02,1.94.29,2.72.88.81.63,1.49,1.41,2,2.3h.31l-1.66-4.2h-23.8c.75.13,1.42.56,1.84,1.2.48.71.73,1.56.7,2.42v28.61c.02.87-.22,1.72-.7,2.44-.41.65-1.08,1.08-1.84,1.17h24.47l1.61-4.2h-.31c-.51.89-1.19,1.68-2,2.32" fill="#03444e" stroke-width="0"/>
                </g>
              </g>
              <g id="i">
                <path id="j" d="m54.06,53.72l-2.28,5.18h1.61l3.83-5.18h-3.16Z" fill="#03444e" stroke-width="0"/>
              </g>
              <g id="k">
                <g id="l">
                  <path id="m" d="m120.34,62.39c.42-.64,1.09-1.07,1.84-1.2h-11.41c.75.13,1.42.56,1.84,1.2.48.71.72,1.56.7,2.42v28.61c.02.87-.22,1.72-.7,2.44-.41.65-1.08,1.08-1.84,1.17h11.41c-.76-.1-1.43-.53-1.84-1.17-.48-.72-.72-1.57-.7-2.44v-28.61c-.02-.86.22-1.7.7-2.42" fill="#03444e" stroke-width="0"/>
                </g>
                <g id="n">
                  <path id="o" d="m159.84,65.39h.36l-1.65-4.2h-28.52l-1.66,4.2h.31c.51-.89,1.19-1.67,2-2.3.78-.59,1.74-.89,2.72-.87h7.72v31.2c.02.87-.22,1.72-.7,2.44-.41.65-1.08,1.08-1.84,1.17h11.41c-.76-.1-1.43-.53-1.84-1.17-.48-.72-.72-1.58-.7-2.44v-31.2h7.73c.98-.02,1.94.29,2.72.88.8.62,1.47,1.4,1.94,2.3" fill="#03444e" stroke-width="0"/>
                </g>
                <g id="p">
                  <path id="q" d="m189.83,93.42l-9.54-27.88c-.37-1.33-1.13-2.52-2.18-3.42-.81-.6-1.79-.92-2.8-.92-.81.06-1.58.37-2.2.9-1.03.95-1.74,2.18-2.05,3.55l-9.44,28.42c-.26.82-.72,1.56-1.33,2.17-.53.45-1.19.73-1.89.8h5.44c-.79-.09-1.26-.41-1.39-.95-.1-.86.02-1.72.36-2.51l2.24-6.75,2.05-6.17h0s4.26-12.81,4.26-12.81c.22-.75.53-1.47.91-2.15.15-.28.44-.46.75-.49.35,0,.65.24.91.73.3.6.57,1.22.8,1.86l1.59,4.66h0s4.89,14.26,4.89,14.26c.02.06.04.11.06.17l1.6,4.69.63,1.85c.33.78.39,1.65.18,2.47-.21.65-.79,1.11-1.48,1.15h11.4c-.84-.14-1.62-.55-2.21-1.17-.71-.68-1.25-1.52-1.58-2.44" fill="#03444e" stroke-width="0"/>
                </g>
                <g id="r">
                  <path id="s" d="m259.69,92.84c-.51.89-1.19,1.68-2,2.31-.76.6-1.7.91-2.67.9h-12.24v-16.45h6.9c.9-.03,1.79.2,2.56.66.66.38,1.13,1.03,1.27,1.78v-5.81c-.15.74-.61,1.37-1.27,1.73-.78.46-1.66.69-2.57.66h-6.9v-16.4h11.56c.98-.02,1.94.29,2.72.88.81.63,1.49,1.41,2,2.3h.31l-1.66-4.2h-23.8c.75.13,1.42.56,1.84,1.2.48.71.73,1.56.7,2.42v28.6c.02.87-.22,1.72-.7,2.44-.41.65-1.08,1.08-1.84,1.17h24.47l1.61-4.2h-.31Z" fill="#03444e" stroke-width="0"/>
                </g>
                <g id="t">
                  <path id="u" d="m32.12,62.4c.41-.64,1.08-1.07,1.83-1.2h-11.4c.76.13,1.42.56,1.84,1.2.48.71.73,1.55.7,2.41v12.39c0,.79-.64,1.43-1.43,1.43h-13.36c-.79,0-1.43-.64-1.43-1.43,0,0,0,0,0,0v-12.39c-.03-.85.21-1.7.69-2.41.42-.64,1.09-1.07,1.84-1.2H0c.75.13,1.41.56,1.83,1.2.49.7.73,1.55.7,2.41v28.62c.03.87-.22,1.72-.7,2.44-.41.64-1.08,1.07-1.83,1.17h11.4c-.76-.1-1.43-.53-1.84-1.17-.47-.72-.71-1.56-.69-2.42v-12.41c0-.79.64-1.43,1.43-1.43h13.36c.79,0,1.43.64,1.43,1.43h0v12.41c.02.86-.23,1.7-.7,2.42-.41.64-1.09,1.07-1.85,1.17h11.4c-.75-.1-1.42-.53-1.83-1.17-.48-.72-.72-1.57-.71-2.44v-28.63c-.03-.86.22-1.7.7-2.41" fill="#03444e" stroke-width="0"/>
                </g>
                <g id="v">
                  <path id="w" d="m214.67,82.49h6.94c.08,1.81-.03,3.63-.3,5.42-.24,1.53-.67,3.03-1.28,4.46-.49,1.17-1.2,2.23-2.1,3.13-.75.77-1.73,1.27-2.79,1.44-1.32.18-2.66-.12-3.78-.83-1.41-.86-2.62-2-3.58-3.35-1.21-1.65-2.21-3.44-2.97-5.34,0-.02-.02-.04-.02-.06-1.9-4.75-2.27-9.98-1.04-14.95,2.06-8.36,7.06-10.57,8.65-11.07.12-.03.23-.08.36-.1l.1-.02c.55-.1,1.1-.15,1.66-.15,7.02,0,6.59,10.94,6.59,10.94h6.58c-.13-1.66-.59-3.28-1.37-4.76-.83-1.51-1.95-2.85-3.31-3.91-1.38-1.08-2.95-1.9-4.63-2.41-1.75-.56-3.58-.84-5.42-.84-2.27-.01-4.51.48-6.56,1.44-2.04.95-3.87,2.3-5.37,3.98-1.56,1.78-2.79,3.82-3.62,6.03-.92,2.42-1.37,4.99-1.35,7.58-.02,2.53.4,5.04,1.25,7.42.76,2.2,1.91,4.26,3.38,6.06,1.4,1.68,3.13,3.07,5.07,4.07,1.92.99,4.06,1.51,6.22,1.49,2.08.15,4.18-.08,6.18-.7h0s.05-.01.08-.02h.03c.19-.06.4-.14.59-.22.17-.06.34-.12.51-.19.2-.08.41-.19.61-.28.17-.08.34-.15.51-.24.21-.11.42-.24.62-.36.16-.1.33-.19.5-.29.2-.13.4-.29.6-.44.16-.12.33-.23.49-.36.21-.17.4-.37.61-.56.14-.14.29-.25.43-.4.21-.22.4-.47.61-.71.12-.14.24-.27.35-.42.21-.28.4-.59.59-.9.09-.15.19-.27.28-.43.28-.49.54-1,.76-1.53,1.07-2.74,1.57-5.68,1.46-8.63h-13.12v1.02Z" fill="#03444e" stroke-width="0"/>
                </g>
                <g id="x">
                  <path id="y" d="m73.39,61.11h12.44c2.37-.02,4.73.11,7.08.39,1.79.19,3.54.64,5.2,1.32,1.29.52,2.41,1.38,3.23,2.5.77,1.18,1.15,2.57,1.09,3.97.04,1.3-.32,2.57-1.05,3.65-.7,1-1.58,1.87-2.6,2.55-1.07.72-2.21,1.33-3.41,1.81-1.23.51-2.37.97-3.41,1.4-.91.36-1.78.8-2.6,1.32-.61.32-1,.93-1.04,1.61.02.53.18,1.05.47,1.5.34.58.72,1.14,1.15,1.67.45.58.94,1.12,1.46,1.64.52.52,1.01,1,1.46,1.42.94.91,1.93,1.85,2.97,2.8,1.04.95,2.03,1.87,2.96,2.74,1.06,1.02,2.25,1.9,3.54,2.6.9.52,1.89.89,2.91,1.08h-13.27c.76-.1,1.14-.39,1.12-.88-.06-.57-.35-1.08-.81-1.42l-3.17-2.99c-.87-.81-1.6-1.54-2.19-2.18-.53-.56-1-1.15-1.43-1.79-.34-.5-.6-1.04-.78-1.62-.16-.52-.24-1.07-.23-1.62,0-.89.29-1.75.83-2.45.61-.77,1.3-1.48,2.06-2.11.82-.69,1.7-1.37,2.66-2.04.96-.67,1.85-1.44,2.66-2.28.81-.85,1.51-1.8,2.06-2.84.58-1.14.86-2.4.83-3.68.03-1.13-.21-2.25-.7-3.26-.46-.89-1.13-1.64-1.95-2.21-.9-.6-1.91-1.01-2.97-1.22-1.23-.26-2.49-.38-3.75-.37h-3.91v31.32c-.02.87.22,1.73.7,2.45.41.65,1.09,1.08,1.85,1.17h-11.45c.76-.1,1.44-.53,1.85-1.17.48-.73.72-1.58.7-2.45v-28.73c.03-.86-.22-1.71-.7-2.42-.42-.64-1.09-1.08-1.85-1.2" fill="#03444e" stroke-width="0"/>
                </g>
              </g>
            </g>
            <g id="z">
              <path id="aa" d="m151.38,35.68c3.84-7.17,3.83-15.79-.04-22.94.98-1.43,2.3-2.6,3.84-3.4-1.91-.37-3.89-.22-5.72.44-7.97-10.74-23.15-12.98-33.89-5.01-1.95,1.45-3.67,3.18-5.11,5.14-1.79-.69-3.73-.92-5.63-.66,1.52.88,2.82,2.1,3.8,3.56-3.84,7.17-3.83,15.79.04,22.94-.98,1.43-2.3,2.59-3.84,3.39,1.91.37,3.89.22,5.73-.44,7.97,10.74,23.14,12.99,33.88,5.01,1.95-1.45,3.68-3.18,5.11-5.15,1.79.69,3.73.92,5.63.66-1.52-.88-2.82-2.1-3.8-3.56m-41.71-1.51c-3.04-6.23-3.06-13.51-.05-19.75,1.57,3.09,2.34,6.52,2.25,9.99.1,3.39-.65,6.74-2.2,9.76M130,1.62c7.04,0,13.68,3.28,17.96,8.88-2.85,1.7-5.48,5.4-5.57,13.3h-8.14c.24-11.23,7.03-14.55,7.03-14.55-4.73-.73-9.36,1.85-11.23,6.26-3.35-8.06-11.34-6.17-11.34-6.17,0,0,6.92,2.97,7.04,14.46h-8.15c-.11-7.72-2.8-11.41-5.68-13.15,4.27-5.68,10.96-9.03,18.07-9.03m0,45.26c-7.04,0-13.68-3.29-17.96-8.89,2.85-1.69,5.48-5.4,5.57-13.3h8.14c-.24,11.23-7.03,14.55-7.03,14.55,4.73.73,9.36-1.85,11.23-6.26,3.35,8.06,11.34,6.17,11.34,6.17,0,0-6.92-2.97-7.04-14.46h8.15c.11,7.72,2.8,11.41,5.68,13.15-4.27,5.69-10.97,9.03-18.08,9.03m18.13-22.79c-.1-3.39.65-6.75,2.2-9.76,3.05,6.23,3.07,13.51.05,19.75-1.57-3.09-2.35-6.52-2.25-9.98" fill="#d8684f" stroke-width="0"/>
            </g>
          </g>
        </g>
      </svg>
      <p class="copyright">© copyright 2024 | e-maprod</p>
    </div>
    <div class="nav-footer">
      <nav>
        <ul>
          <li><a href="#project">Le projet</a></li>
          <li><a href="#localisation">Localisation</a></li>
          <li><a href="#appartements">Appartements</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="emaprod-info">
    <div class="info">
      <img src="/../app/themes/lumber/app/web/src/assets/emaprod-logo.png" alt="logo emaprod">
      <p>Réalisation</p>
      <p>www.emaprod.com</p>
    </div>
    <div class="info">
      <img src="/../app/themes/lumber/app/web/src/assets/emaprod-logo.png" alt="logo emaprod">
      <p>Commercialisation</p>
      <p>T: 02 340 24 73</p> 
      <p>www.xxx.be</p>
    </div>
    <div class="info">
      <img src="/../app/themes/lumber/app/web/src/assets/emaprod-logo.png" alt="logo emaprod">
      <p>Commercialisation</p>
      <p>T: 02 340 24 73</p> 
      <p>www.xxx.be</p>
    </div>
  </div>
</footer>
{% endblock %}