{% set uri = uri|default(post.link) %}
{%
    set links = {
        linkedin: ("https://www.linkedin.com/shareArticle?mini=true&url=" ~ uri ),
        facebook: ("https://www.facebook.com/sharer/sharer.php?u=" ~ uri),
        twitter: ("https://twitter.com/home?status=" ~ uri),
        google: ("https://plus.google.com/share?url=" ~ uri),
        whatsapp: ("https://wa.me/?text=" ~ urlencode(options.whats_app_sharing_message[locale] ~ " - " ~ uri))
    }
%}

<div class="sharer">
    <div class="title">
        <h3>{{ pll__("Share") }}</h3>
    </div>
    <div class="actions">
        
        <a href="{{ links.linkedin }}" class="btn-linkedin shared-item"><img src="{{ site.theme.path }}/static/gfx/linkedin.png" alt="Linkedin" /></a>
        <a href="{{ links.twitter }}" class="btn-twitter shared-item"><img src="{{ site.theme.path }}/static/gfx/x.png" alt="x" /></a>
    </div>
</div>
